body {
  background: #f4f4f4;
  font-family: arial;
}

.clr {
  clear: both;
}

.container {
  margin: 20px auto;
  overflow: auto;
  width: 1400px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
}

header {
  background: #ccc;
  padding: 20px;
}

header h1 {
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  padding: 10px;
  background: #f4f4f4;
  border: 1px #ccc solid;
  overflow: auto;
}

ul li {
  float: left;
  padding: 0 20px 0 0;
  list-style: none;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #000;
}
